*.pyc
venv
__pycache__
model_files/dataset
model_files/cnn_model
model_files/cnn_stats

mlops/
mlruns/
model/*

datasets/test/*.npy
datasets/test/original/*.npy
datasets/train/*.npy
datasets/train/original/*.npy
datasets/experiments/*.npy
datasets/experiments/original/*.npy